#mapid {
  height: calc(100vh - 55px);
}

.panel {
  position: fixed !important;
  z-index: 800;
  right: 0 !important;
  width: 200px !important;
  margin: 10px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
}

.panel h4 {
  margin: 0 0 5px;
  color: #777;
}

.panel.panel-info {
  margin-top: 100px;
}
